# Essa linha é ignorada no arquivo, é um comentário
*.pyc
*~
*#

# Ignora todos os arquivos do diretório classificacao/
classificacao/

# Ignora os arquivos que são utilizados para trabalhar
# com a rede social Twitter
coleta_tweets_tempo_real.py
listener_tweets.py
rotulagem_manual.py

# Template que não é utilizado
classificacao_manual.html

