<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="#FFFFDE">
<h2>Títulos disponíveis</h2>
<form action="http://localhost:5000/ASRL/analisar_sentimento_conjunto" method="POST">
    <input type="radio" name="titulo_livro" value="JogosVorazes"> Jogos Vorazes - Suzanne Collins<br>
    <input type="radio" name="titulo_livro" value="PercyJackson"> Percy Jackson - Rick Riordan<br>
    <input type="radio" name="titulo_livro" value="Convergente"> Convergente - Veronica Roth<br>
    <input type="radio" name="titulo_livro" value="CidadesDePapel"> Cidades de Papel - John Green<br><br>
    <input type="submit" value="Analisar Sentimento">
</form>

</body>
</html>